body
{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sofia Sans', sans-serif;
    padding: 0;
}
.header
{
    background-image: url(images/banner.png) , linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 90vh;
    width: 100%;
    margin-bottom: 7%;
}
.header-info
{
    text-align: center;
}
.header-info h1
{
    margin: 0;
    padding-top: 10%;
    font-size: 600%;
    margin-bottom: 0;
    color: white;
}
.donation-section
{
    text-align: center;
    margin-bottom: 7%;
}
.donation-section h1
{
    font-size: 400%;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}
.donation-section p
{
    font-size: 150%;
    margin-bottom: 6%;
    text-align: center;
    color: #808080;
}
.donation-section input
{
    width: 50%;
    text-align: center;
    font-size: 120%;
    margin-top: 4%;
    margin-bottom: 3%;
    border: none;
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc;
}
.header-info p
{
    font-size: 150%;
    margin-bottom: 2%;
    color: white;
}
.button-style
{
    text-decoration: none;
    background-color: #ff6666;
    color: white;
    padding: 1% 2%;
    font-weight: 600;
    font-size: 110%;
    border-radius: 5%;
}
.donation-amount-list a
{
    text-decoration: none;
    background-color: #f2f2f2;
    color: #808080;
    padding: 2% 2%;
    margin-right: 1%;
    font-weight: 600;
    font-size: 250%;
    border-radius: 5%;
}
.donation-amount-list a:hover
{
    background-color: #ffe6e6;
    color: red;
    border-color: red;
    border: 1px solid;
    transition: .5s ease;
}
.donate-plan
{
    margin-bottom: 7%;
}
.donate-plan h1
{
    font-size: 400%;
    margin-bottom: 0;
    font-weight: bolder;
    text-align: center;
}
.donate-plan p
{
    font-size: 150%;
    margin-bottom: 3%;
    text-align: center;
    color: #808080;
}
.donate-plan-info
{
    display: flex;
    padding: 0% 7%;
}
.donate-plan-info h2
{
    text-align: left;
    font-size: 220%;
}
.donate-plan-info p
{
    text-align: left;
}
.food
{
    background-color: #eafafa;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 8%;
    margin-right: 2%;
    border-radius: 2%;
}
.shelter
{
    background-color: #ffe6e6;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 8%;
    margin-right: 2%;
    border-radius: 2%;
}
.education
{
    background-color: #fff9e6;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 1%;
    padding-right: 8%;
    margin-right: 2%;
    border-radius: 2%;
}
.depend-on-donation
{
    display: flex;
    margin-bottom: 8%;
}
.half-width
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0;
}
.half-width h1
{
    padding-left: 15%;
    font-size: 400%;
    margin-bottom: 0;
    font-weight: bolder;
}
.half-width p
{
    padding-left: 15%;
    font-size: 150%;
    color: #808080;
}
.half-width img
{
    width: 80%;
    margin-right: 50%;
    padding-right: 50%;
    height: 100%;
}
.half-width a
{
    margin-left: 15%;
    margin-bottom: 2%;
}
.button-style-2
{
    text-decoration: none;
    background-color: #ff6666;
    color: white;
    padding: 2% 5%;
    font-weight: 600;
    font-size: 110%;
    border-radius: 5%;
    margin-top: 3%;
}
.depend-on-donation-2
{
    display: flex;
    margin-bottom: 8%;
}
.half-width-2
{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0;
}
.half-width-2 img
{
    width: 90%;
    margin-left: 7%;
    padding-left: 7%;
    height: 100%;
}
.half-width-2 h1
{
    padding-right: 15%;
    font-size: 400%;
    margin-bottom: 0;
    font-weight: bolder;
}
.half-width-2 p
{
    padding-right: 15%;
    font-size: 150%;
    color: #808080;
}

.contact
{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto 5em;
}
.contact h1
{
    font-size: 400%;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
}
.contact p
{
    font-size: 150%;
    margin-bottom: 6%;
    text-align: center;
    color: #808080;
}
.email-div
{
    padding: 10% 12%;
    background-color: #fff5cc;
}
.email-div input
{
    border: none;
    padding: 2% 4%;
    width: 30%;
    font-size: 100%;
    background-color: gainsboro;
    border-radius: 3%;
}
.email-div input:last-child
{
    border-radius: 3%;
    padding: 2% 4%;
    background-color: #FF5959;
    color: white;
    width: 20%;
    font-weight: bold;
}
footer
{
    background-color: #000000;
    margin-top: 2%;
    padding: 4%;
}
footer h2
{
    text-align: center;  
    font-style: italic;
    color: #FF5959;
    font-size: 45px;
    font-weight: bold;
}
footer p
{
    text-align: center;
    color: white;
}